.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.room-reservation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-group {
  margin: 0 10px;
}

.button-container {
  margin-top: 10px;
}

body {
  background-color: #f8f9fa; /* Set a light background color for the entire page */
}

.navbar {
  background-color: #2596be;
}

.navbar-brand img {
  width: 150px; /* Adjust the width as needed */
  height: auto;
}

.navbar-nav {
  margin-left: auto; /* Push the nav items to the right */
}

.navbar-nav .nav-link {
  color: black !important;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #2596be !important; /* Change to the desired hover color */
}

.navbar-nav .btn-primary {
  margin: 0 10px;
}
